title: ABoat365
description: Java WEB
author: A Boat
logo: https://avatars2.githubusercontent.com/u/34494887?s=400&u=10f21e7ee21dfabd8477f2bb88e6eba62a60a84d&v=4
github: https://github.com/ABoat365
about: 普通程序员

baseurl: "https://aboat365.github.io"
url: "https://aboat365.github.io"

allowsearch: false

disqus_shortname: aboutashu
google_analytics: UA-72862926-1

share:
  twitter_username: \#
  fb_appid: 000000000000


enableTags: true
tagarray: []

paginate: 20
per_page: 20
paginate_path: "/page:num/"
markdown: kramdown
gems: [jekyll-paginate, jekyll-gist]
